<% include partials/header %>



<body class = "bodyform">
<nav class="navbar navbar-light bg-light">
  <form action="/results" method="GET" class="form-inline">
    <input class="form-control mr-sm-2" name = "searchs" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>



<div class = "container">
  <h1>How to use the website</h1>
  
  <ul>
      <li >Think about a title of a book related to computer science or programming</li>
      <li >type it on the search bar</li>
      <li >click search</li>
      <li >It takes you to another page with the books pictures related to what you are looking for</li>
      
    </ul>
  
  <h1>Things to know about this website</h1>
  
  <p>

      This is my first web application. I just want to give myself the oppportunity to learn about web API,
      how to use them ,and play around with bootstrap and others things that I can accomplish with CSS3. 
      
     
  </p>
  
   <h1>Future features</h1>
  
  <ul>
    
    <li>Clickable images that take users to where they can buy the book</li>
    <li>A dataBase</li>
    <li>log In</li>
    
  </ul> 
 
 

</div>


</body>




<% include partials/footer %>